# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
*.db
*.ipch
*.db-wal
*.db-shm
*.opendb
*.sqlite
*.tlog
*.iobj
*.ipdb
*.pdb
.vs/RayEngine/v17/DocumentLayout.json
BlankProject/imgui.ini
/.vs
/Ray/Intermediate
/BlankProject/Intermediate
